body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

.top-container {
  background-color: rgb(192, 233, 233);
  position: relative;
  width: 100%;
  /* height: 520px; */
  padding-top: 150px;
}

h1 {
  color: #55acac;
  /* 66bfbf */
  margin: 0 auto 0 auto;
  /* font-family: "Ms Madi", cursive; */
  font-family: "Amatic SC", cursive;
  font-size: 562.5%; /* 16px=100%=1em  => 90px=562.5       480*/
}

#describe {
  margin: 0 auto 3px auto;
  color: #57adad;
  /* 66bfbf */
  font-weight: normal;
  line-height: 2;
  font-size: 1.5rem; /*always use rem for font size its safe*/
}

h2,
h3 {
  font-family: "Montserrat", sans-serif;
}

.middle-container {
  /* background-color: blue; */
  /* height: 100px;
  width: 100px; */
}

.My-img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.htmlcss-img {
  padding-top: 50px;
  height: 200px;
  width: 200px;
}

#skill-html {
  color: #11999e;
}

.js-img {
  padding-top: 40px;
  height: 200px;
  width: 200px;
}

#skill-js {
  color: #11999e;
}

.bottom-container {
}

.top-cloud {
  height: 100px;
  width: 130px;
  position: absolute;
  right: 300px;
  top: 40px;
  padding-bottom: 20px;
}

.bottom-cloud {
  position: absolute;
  height: 100px;
  width: 130px;
  left: 270px;
  bottom: 250px;
}

.footer-link {
  color: #11999e;
}
