body {
  background-color: #f6f6f6;
}

hr {
  /* if we want to have a nice dotted hr */

  /* background-color: #ff5c8d;
        height: 0px; */
  width: 4%;
  border-style: none;
  border-top-style: dotted;
  /* border-color: #fc5185; */ /*main color*/
  border-color: #ffc7c7;
  border-width: 5px;
}

#My-photo {
  border-radius: 50%;
  width: 200px;
  height: 200px "
}

#My-photo:hover {
opacity: 0.7;
}

a{
  text-decoration: none;
  color: #3956a8;
}

h1 {
  /* color: #ff5c8d; */
  color: #8785a2;
}

h3 {
  color: #8785a2;
}
